{% extends 'layout.html' %}

{% block body %}
<div class="container text-center">
    <h1 style="color: white; font-family: 'Dela Gothic One', sans-serif;">Spoti Mixe Hoş Geldiniz</h1>
    <br>
    <br>
    <form method="post" action="/create_playlist">
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <label for="client_id" style="color: white;">Client ID:</label>
                <input type="text" id="client_id" name="client_id" class="form-control" style="width: 300px;" placeholder="Client ID">
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <label for="client_secret" style="color: white;">Client Secret:</label>
                <input type="text" id="client_secret" name="client_secret" class="form-control" style="width: 300px;" placeholder="Client Secret">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success btn-lg" style="background-color: #20b820; border-radius: 10px; color: white; font-family: 'EB Garamond', serif;">Oluştur</button>
    </form>
    <br>
    <br>
    {% if playlist_created %}
    <p style="color:white; font-size: 18px;">Playlist oluşturuldu</p>
    {% endif %}
    <br>
    <p style="color: white; font-size: 18px; text-align: center; margin-top: 20px; font-style:italic;">
        Bu web sitesi, Spotify API bilgilerinizi girdikten sonra en çok dinlediğiniz 10 sanatçının rastgele şarkılarını alarak, size özel 100 şarkılık bir çalma listesi oluşturur.
        <a href="{{ url_for('developer') }}" style="color: #20b820; text-decoration: underline;">API'yı nasıl alacağınızı bilmiyorsanız buraya tıklayın.</a>
    </p>
    
      </div>
{% endblock body %}
